# app.env.sample
# Copy to app.env and adjust values before starting the stack.
# These variables override values in default.env for this specific app.

# Docker Compose Global env
TZ="America/New_York"
BASE_DOMAIN_NAME="example.com"
BASE_HOST_NAME="myapp.example.com"

# Let the container know the hosts ip
HOST_IP_4=""
HOST_IP_6=""
CURRENT_IP_4=""
CURRENT_IP_6=""
#
BASE_DIR_STORAGE=""
BASE_DIR_DATABASES=""
